[submodule "dapple_packages/btc-tx"]
	path = dapple_packages/btc-tx
	url = https://github.com/rainbeam/solidity-btc-parser
[submodule "dapple_packages/erc20"]
	path = dapple_packages/erc20
	url = https://github.com/nexusdev/erc20
